imports:
  - { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }

parameters:
  tasks.git_commit_message.matchers:
    - '/[A-Z].+\./'
  extra_tasks:
    phpparser:
      ignore_patterns: "%tasks.phpcs.ignore_patterns%"
      visitors:
        declare_strict_types: ~
      triggered_by: "%tasks.phpcs.triggered_by%"
grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'
