drupal:
  root: "build"
  base_url: "http://web:8080/build"
  database:
    host: "mysql"
    port: "3306"
    name: "behat_traits"
    user: "root"
    password: ""
  site:
    profile: "minimal"
    existing_config: true
  post_install:
    - "./vendor/bin/drush cr"
  settings:
    settings:
      config_sync_directory: "../tests/config/sync"

selenium:
  host: "http://selenium"
  port: "4444"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:behat" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
